* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: bold;
}

#container {
    display: flex;

}

form {
    width: 300px;
    height: 50vh;
    padding: 20px;
    background: #d3d3d3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

textarea {
    height: 10em !important;
}

#notifications {
    background-color: #89898b;
    height: 50vh;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    overflow-y: hidden;

    /* background-image: url('book.svg');
    background-size:cover */
}

img#book {
    width: 90%;
    padding: 40px;
    opacity: .5;

}

main {
    background: #e8e8e8;
    width: 100vw;
    height: 100vh;
    padding: 30px;
    overflow-y: scroll;
}

article {
    background: #7b7676;
    padding: 7px;
    border-radius: 12px;
    margin-bottom: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: #353535;
}

.message-info {
    display: flex;
}

.name {
    color: black;
    font-size: 1.1em;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.time {
    color: #353535;
    margin-left: 12px;
    font-size: 12px;
    margin-top: auto;
    /* text-decoration: underline; */
    /* text-decoration-thickness: 3px; */
    margin-left: auto;
    margin-right: 20px;
}

.message {
    color: white;
}

.delete-button {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-style: none;
    border-radius: 3px;
    padding: 3px;
    margin-left: auto;
    background: #ff5a5a;
    transition: .1s ease-in-out;
    border-style: solid;
    border-width: 2px;
    border-color: #ff5a5a;
    margin-top: 4px;
}
.delete-button:hover {
    background: linear-gradient(45deg, #f87575, #ff4747);
    border-color: #ff1c1c;
}