* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    display: flex;

}

form {
    width: 300px;
    height: 50vh;
    padding: 20px;
    background: #d3d3d3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

textarea {
    height: 10em !important;
}

img.book {
    width: 100%;
    height: 100%;
    opacity: .5;
}

main {
    background: #e8e8e8;
    width: 100vw;
    height: 100vh;
    padding: 30px;
    overflow-y: scroll;
}

article {
    background: #7b7676;
    padding: 7px;
    border-radius: 12px;
    margin-bottom: 16px;
}

.message-info {
    display: flex;
}

.name {
    color: black;
    font-size: 1.1em;
}

.time {
    color: #353535;
    margin-left: 12px;
    font-size: 12px;
    margin-top: auto;
}

.message {
    color: white;
}