@font-face {
    font-family: font;
    src: url('../font.ttf');
}

* {
    font-family: font;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: black;
}

#container {
    padding: 70px;
}