body {
    background: black;
}

#container {
    padding: 70px;
}

#add {
    text-decoration: none;
    display: inline-block;
    margin: 8px;
    background:#79ff72;
    padding: 6px;
    color: black;
    border-radius: 7px;
    font-weight: 600;
    width: 70px;
    text-align: center;
    transition: .15s ease-in-out;
}

#add:hover {
    background:#acfca8
}

#guests {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guest {
    border-style: solid;
    border-width: 1px;
    border-color: #313131;
    border-radius: 12px;
    margin: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 7px;
    justify-content: space-between;
    align-items: center;
}

.guest > p {
    width: 50%;
    margin: 6px;
}

.svg {
    width: 24px;
    margin-right: 6px;
}